<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>请假</title>
     <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link href="{% static 'novel/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static '/novel/css/header.css' %}">
    <style>
        .box{
            padding: 20px 20px;
        }
    </style>
</head>

<body>
    <div class="header-mine">
        <h2>请假</h2>
    </div>
    <div class="box">
    <h3>世界这么大，我想去看看</h3>
    <form action="/novel/index/common/vacate" method="post">
        <br>
        <div class="form-group">
            <label>起始时间</label>
            <input type="datetime-local" class="form-control" name="staTime">
        </div>
        <br>
        <div class="form-group">
            <label>结束时间</label>
            <input type="datetime-local" class="form-control" name="endTime">
        </div>
        <br>
        <div class="form-group">
            <label>请假原因</label>
            <input type="text" class="form-control" name="vReason">
        </div>
        <div style="text-align: center">
        <button type="submit" class="btn btn-default">提交</button>
        </div>
    </form>
    {{ msg }}
    </div>
    <!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
    <script src="{% static 'novel/jquery/jquery-3.3.1.min.js' %}"></script>
    <!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
    <script src="{% static 'novel/bootstrap/js/bootstrap.min.js' %}"></script>
</body>
</html>